h1 {
    font-weight: 100;
}

h2 {
    font-weight: 300;
}

h3, h4 {
    font-weight: 500;
}

h5, h6 {
    font-weight: 600;
}

/* --- Theme --- */
/* White */
.main.white {
    color: #000;
    background-color: #fff;
}

    .main.white a:hover {
        color: #828a94;
    }
/* Black */
.main.black {
    background-color: #000;
}
/* Dark */
.main.dark {
    background-color: #202050;
}
/* black and dark */
.main.black, .main.dark {
    color: #fff;
}

    .main.black a, .main.dark a {
        color: #9fc1ff;
    }

        .main.black a:hover, .main.dark a:hover {
            color: #acf8fb
        }

/* --- general --- */
.date {
    font-size: 90%;
    opacity: .75;
}
/* --- List-Item --- */
.list-item {
    border: 1px solid #666;
    padding: 1rem 1.6rem;
    margin-bottom: 1.27rem;
}

    .list-item h2 {
        margin: 0;
        display: inline;
    }

    .list-item .tag-labels {
        display: inline-block;
        margin-left: 1.2rem;
        line-height:2.88rem;
    }

    .list-item a.tag-label {
        border: 1px solid #757575;
        padding: .1rem .37rem;
        border-radius: 3px;
        background-color: #7d2372;
        margin-right: .36rem;
        color: #e8d6ea;
    }

        .list-item a.tag-label:hover {
            background-color: #904e88;
            color: #ffffff;
        }

.list-date {
    margin: .27rem 0 0.86rem .1rem;
}
/* --- Tag-List --- */
.tag-list {
    display: inline-block;
    margin-right: 1.75rem;
}

    .tag-list a {
        font-size: 1.43rem;
    }

/* --- Posts --- */
.post-content img {
    max-width:90vw;
}
.post-title {
    font-weight: 400;
    text-align: center;
    font-size: 2.35rem;
    border-bottom: 1px solid #707070ab;
    padding-bottom: .74rem;
}
.post-tags {
    margin-top:2.45rem;
}

.post-tags a.tag-label {
    background-color: #580c71af;
    border: 1px solid #c0c0c06f;
    color: #fff;
    padding: .16rem .46rem;
    border-radius: 3px;
    font-size: 1.08rem;
    margin-right: .46rem;
}

    .post-tags a.tag-label:hover {
        background-color: #580c71;
        color: #ffdada;
    }

/* Main Page */
.main-title {
    margin: -1.1rem -2.25rem;
    text-align: center;
    background-color: #1b838e5f;
    padding: .6rem .4rem;
    box-sizing: border-box;
    width: calc(100% + 4.5rem);
    border-bottom: 5px solid #217f9496;
}
    .main-title h1 {
        margin:0;
    }
.main-post img {
    max-width:98vw;
    max-height:17.5vh;
}
.main-post {
    margin-bottom: 2.75rem;
}

.main-post-image {
    text-align:center;
}

.main-post-content {
    margin: 1.1rem 0;
}
@media screen and (min-width:768px) {
    .main-list-posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .list-item:nth-child(odd) {
        margin-right: 0.55rem;
    }

    .list-item {
        border: 1px solid #666;
        padding: 1rem 1.6rem;
        margin-bottom: 1.27rem;
    }
}
